body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

h1 {
	text-align: center;
}

input[type="file"] {
	display: none;
}

.custom-file-upload {
	display: inline-block;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
	background-color: #45a049;
}

.read-file-button {
	background-color: #008CBA;
	color: #fff;
	border: none;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.read-file-button:hover {
	background-color: #006F9F;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #f2f2f2;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	margin-bottom: 4px;
}

.selected-file-text {
	margin-top: 10px;
	font-weight: bold;
}